@model CarCatalog.Models.BrandViewModel

<div class="modal-content">
    <div class="modal-header">
        @Html.Raw("<h3>Do you really<br/> want to delete<br/>" + "<span>" + Model.Name.ToUpper() + "</span><br/> brand?</h3>")
    </div>
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="button" value="Cancel" class="close" data-dismiss="modal" />
            <input type="submit" value="Delete" class="close" />
        }
    </div>
</div>
